<div class="home" id="home">
  <div class="container">
    <div class="row">
      <section class="col-lg-6 col-md-12 col-sm-12" style="text-align-last: center;">
        <img src="./assets/images/logo.jpg" width="100%" height="100%" alt="TMDB Logo">
      </section>
      <section class="paragraph col-lg-6 col-md-12 col-sm-12">
        <div class="card-header">
          <p>The Movie Database</p>
        </div>
        <div class="card-body">
          <p class="justify-content-center">
            Search for your favorite Actor or Actrees movies!!
          </p>
          <div class="button-container">
            <button mat-raised-button color="primary" [routerLink]="['/actor/actor']">Search Actor</button>
            <button mat-raised-button color="accent" [routerLink]="['/movie/list-movies']">Search Movie</button>
          </div>
        </div>
        <div class="card-body">
          <p class="justify-content-center">
            Data retrieved from The Movie Database. TMD. <a href="#">www.themoviedb.org</a>
          </p>
        </div>

        <div>
          <img src="./assets/images/logo.png" alt="TMDB Logo" width="100%" height="100%">
        </div>
      </section>
    </div>
  </div>
</div>
