@import "../../../shared/styles-foundations.scss";

.home {
  padding-top: 110px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.paragraph {
  background-color: $container-background-color;
}

.button {
  text-align: center;
}

.paragraph .button-container {
  display: flex;
  place-content: space-evenly;
  width: $full-width;
}
