$full-width: 100%;
$full-height: auto;
$general-padding: 10px;
$general-margin: 10px;
$brand-color-primary: #0d253f;
$brand-color-primary: #01b4e4;
$brand-color-primary: #90cea1;
$container-background-color: rgba(241, 241, 241, 0.7);
