/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-image: url(assets/images/tmd.svg);
  background-size: 100% cover;
  background-position: top center;
  background-color: rgb(241, 241, 241);

}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.paragraph .button-container {
  width: 100%;
}
