<nav class="navbar navbar-expand-lg navbar-light">
  <div class="" style="text-align-last: center;">
    <a class="" href="#">
      <img src="./assets/images/logo.png" width="25%" height="25%">
    </a>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Searching...
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/actor/actor">Search for Actor</a>
          <a class="dropdown-item" routerLink="/movie/list-movies">Search for Movies</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" aria-disabled="true">Cerrar Sesión</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
