<div class="container">
  <div class="row">
    <article class="col-12">
      <header>
        <h1>Movies List</h1>
        <h3>Search for any movie listed below and get its information.</h3>
      </header>
    </article>
    <section class="movie-form col-12 row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <form [formGroup]="form">
          <mat-form-field appearance="fill">
            <mat-label>Search Movie</mat-label>
            <input matInput formControlName="movie" placeholder="Search Movies..." type="text">
          </mat-form-field>
        </form>
        <button mat-raised-button color="warn" (click)="getMovies()">Search Movie</button>
      </div>

      <section class="movie-table col-lg-8 col-md-12 col-sm-12">
        <div>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let movie"> {{movie.id}} </td>
            </ng-container>

            <ng-container matColumnDef="original_title">
              <th mat-header-cell *matHeaderCellDef> Movie Name </th>
              <td mat-cell *matCellDef="let movie"> {{movie.original_title}} </td>
            </ng-container>

            <ng-container matColumnDef="release_date">
              <th mat-header-cell *matHeaderCellDef> Release Date </th>
              <td mat-cell *matCellDef="let movie"> {{movie.release_date}} </td>
            </ng-container>

            <ng-container matColumnDef="more">
              <th mat-header-cell *matHeaderCellDef> More Info </th>
              <td mat-cell *matCellDef="let movie"> <button mat-raised-button color="primary" (click)="getMore(movie.poster_path)">More...</button> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </section>
    </section>
  </div>
</div>
