<div class="container">
  <div class="row">
    <article class="col-12">
      <header>
        <h1>Actor List</h1>
        <h3>Search for any actor/actress listed below and get his/her information.</h3>
      </header>
    </article>
    <section class="actor-form col-12 row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <form [formGroup]="form">
          <mat-form-field appearance="fill">
            <mat-label>Search Actor</mat-label>
            <input matInput formControlName="actor" placeholder="Search Actor..." type="text">
          </mat-form-field>
        </form>
        <button mat-raised-button color="warn" (click)="getActors()">Search Actor</button>
      </div>

      <section class="actor-table col-lg-8 col-md-12 col-sm-12">
        <div>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let actor"> {{actor.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Actor Name </th>
              <td mat-cell *matCellDef="let actor"> {{actor.name}} </td>
            </ng-container>

            <ng-container matColumnDef="more">
              <th mat-header-cell *matHeaderCellDef> More Info </th>
              <td mat-cell *matCellDef="let actor"> <button mat-raised-button color="primary" (click)="getMore(actor.known_for)">More...</button> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </section>
    </section>
  </div>
</div>
