.container {
  margin-top: 20px;
  background-color: rgba(241, 241, 241, 0.7);
  padding: 15px;
}

.actor-form {
  button,
  mat-form-field {
    width: 100%;
  }
}

.actor-table {
  overflow-y: auto;
  height: 70vh;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: #90cea1;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #56a06a;
  }
  &::-webkit-scrollbar-track {
    background: #cccccc;
    border-radius: 10px;
    box-shadow: inset -30px -30px 5px #cccccc;
  }
}

table {
  width: 100%;
}

