<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:
    <a href="#"> sourcemeridian.com</a>
    Desarrollado por: Felipe Gaitán
  </div>
</footer>
